/* #root{height: 90vh;} */
#root{height: 100%;}
#topdiv{height: 90vh;}


.popup_content{z-index: 1000; position: absolute; top: 20%; left: 35%; font-weight: bold; background-color: #CEC5CC;border: 1px solid;}
.popup_title{display: flex;justify-content: center;margin: 0;border-bottom: 1px solid;  height: 3vh;cursor: pointer;}
.popup_title button{position:absolute; right : 0;height: 3vh;width: 4vh;border: 0;border-left: 1px solid;}

.CMPopup {padding: 10px;}
.CMPopup td{text-align: center; border: 1px solid;}
.CMPopup th{text-align: left; border: 1px solid;}

.mapChangeDiv{position:absolute;top:0;display:flex;align-items:baseline;gap:10px;width:15%}
.mapChangeDiv button{border-radius: 8px;height:25px;width: 100%;min-width: 90px; border: 1px solid #CEC5CC;font-size: 13px;text-align: center; background-color: rgb(70, 109, 234); color: white;appearance:none;}


